.main {
    /* padding: 30px; */
}
.h1 {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.card {
    width: 18rem;
    margin: 0 auto;
}
.card-title {
    text-align: center;
}
.row>* {
    padding-left: 0;
    padding-right: 0;
}